nav {
  background-color: var(--grey);
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.logo-nav img {
  position: absolute;
  height: 8vh;
  width: auto;
  left: 50%;
  transform: translate(-50%, 0);
  top: 1vh;
  content: "";

}

.pp-nav {
  height: 6vh;
  aspect-ratio: 1;
  margin-right: 1rem;
}

.pp-nav img {
  border-radius: 50%;
  height: 100%;
  object-fit: cover;
}

nav .Button.logout {
  font-size: 0.8rem;
  width: unset;
  padding: 0 1rem;
}