nav {
  background-color: var(--grey);
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.logo-nav img {
  position: absolute;
  height: 8vh;
  width: auto;
  left: 50%;
  transform: translate(-50%, 0);
  top: 1vh;
}


nav .Button.logout {
  font-size: 0.8rem;
  width: max-content;
  margin-right: 1rem;
  padding: 0 1rem;
  outline: 2px solid var(--borderButton);
}

nav .actions-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin: 1.5rem;
}

nav .ProfilePicture:hover {
  background-color: var(--blue);
}

@media (max-width: 550px) {
  nav .actions-nav {
    justify-content: space-between;
  }
}