.MessageCard {
    display: flex;
    width: 70%;
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 0.5rem;
    color: black
}

.MessageCard.sent {
    background-color: var(--blue);
    color: var(--white);
    align-self: end;
    gap: 1rem;
}

.MessageCard.received {
    background-color: var(--white);
    color: black;
    align-self: start;
    gap: 1rem;
}

.MessageCard.received .ProfilePicture {
    outline: 2px solid var(--blue);
}

.MessageCard .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
}

.MessageCard .content {
    align-self: start;
    word-break: break-all;
}

.MessageCard .timestamp {
    align-self: end;
    font-size: 0.6rem;
}

.MessageCard .ProfilePicture {
    height: 4vh;
}