.Form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Form div {
  display: flex;
  flex-direction: column;
}



.Login #password {
  margin-bottom: 2rem;
}

.form-small-link a {
  color: var(--white);
  font-size: .6rem;
  margin-top: .6rem;
}