.JoinPrivateGame .pin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.JoinPrivateGame .pin label {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 600;

}

.JoinPrivateGame #pin {
  width: 100%;
}


@media (max-width: 750px) {
  .JoinPrivateGame .window-center-grey {
    min-height: 50vh;
    padding: 0 4rem;
    min-width: 85vmin;
  }
}