.clickable-icon {
  cursor: pointer;
}

.GameRoom {
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.GameRoom .room-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: white;
  gap: 1rem;
}

.GameRoom h4 {
  font-weight: 300;
}

.GameRoom #game {
  display: flex;
  width: 55vw;
  z-index: 10;
}

.GameRoom .message-boxes {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  margin-bottom: 1rem;
  text-align: center;


}

.GameRoom .ErrorList {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  width: 50vw;
  align-self: start;
  min-height: 3rem;
}

.GameRoom .Storytime {
  width: 40vw;
  min-height: 3rem;
}


.GameRoom #messenger {
  position: fixed;
  width: 30vw;
  display: flex;
  flex-direction: column;
  right: 2rem;
  bottom: 1rem;
}

.GameRoom .row {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: white;
}


@media (max-width:950px) {
  .GameRoom .ActionsBar {
    width: 100vw;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem 5rem;
    height: max-content;
  }

  .GameRoom #game {
    width: calc(100vw - 4rem);
  }

  .GameRoom .message-boxes {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .GameRoom .message-boxes .Storytime,
  .GameRoom .message-boxes .ErrorList {
    width: 100%;
  }


  .GameRoom #messenger {
    width: 100vw;
    right: 0;
    background-color: var(--darkGrey);
  }
}