.clickable-icon {
    cursor: pointer;
}

.GameRoom {
    min-height: 120vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.GameRoom .room-header {
    display: flex;
    justify-content: space-between;
    color: white;
}

.GameRoom #game {
    display: flex;
    width: 55vw;
}

.GameRoom #messenger {
    position: fixed;
    width: 35vw;
    display: flex;
    flex-direction: column;
    right: 2rem;
    bottom: 1rem;
}

.GameRoom .ErrorList {
    width: 100%;
}

.GameRoom .row {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: white;
}