.Button.primary,
.Button.secondary,
.small {
    all: unset;
    border-radius: var(--radius);
    color: var(--white);
    text-align: center;
    text-transform: uppercase;
    padding: .5rem 2rem;
    height: 2.5rem;
    width: 25vmax;
    font-family: var(--font);
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.Button.primary,
.small {
    background: var(--gradientBlue);
    box-shadow: var(--buttonShadow);
}

.Button.secondary {
    background: transparent;
    outline: 3px solid var(--borderButton);
    outline-offset: -3px;
}

.Button.primary:hover,
.small:hover {
    background: var(--gradientBlueHover);
}

.Button.secondary:hover {
    outline: 3px solid var(--borderButtonHover);
    outline-offset: -3px;
}

.Button.small {
    text-transform: none;
    padding: 0.5rem 2rem;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}