.CreateGame {
    color: var(--white);
}

.CreateGame .header-row {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 700;
    text-align: left;

}

.CreateGame .header-row .ProfilePicture {
    height: 8vh;
}

.CreateGame div img {
    border-radius: 100%;
    aspect-ratio: 1;
    width: 5rem;
    object-fit: cover;
}

.CreateGame .Button {
    margin-top: 2rem;
}


@media(max-width:750px) {

    .CreateGame .window-center-grey.auth {
        padding: 4rem;
    }
}