.CreateGame {
    color: var(--white);
}

.CreateGame .header-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-weight: 700;
    text-align: center;
}

.CreateGame div img {
    border-radius: 100%;
    aspect-ratio: 1;
    width: 5rem;
    object-fit: cover;
}