.ProfilePicture {
  height: 6vh;
  aspect-ratio: 1;
  box-shadow: 0 0 0 3px var(--white);
  border-radius: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ProfilePicture .inner-border {
  border-radius: 100%;
  height: 85%;
  aspect-ratio: 1;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.ProfilePicture img {
  border-radius: 100%;
  width: 100%;
  object-fit: cover;
}