.Error {
  width: 30vmax;
  color: var(--errorsRed);
  padding: 1rem;
  margin: 1rem 0;
  background-color: var(--white);
  border-radius: 12px;
  outline: 2px solid var(--errorsRed);
}

.Error .error-icon {
  position: absolute;
  left: 1rem;
  top: 0;
}

.Error .error-wrapper {
  position: relative;
  padding-left: 3rem;
}

.Error .error-wrapper .error-message {
  font-size: .8rem;
}