.PlayerLobbyCard {
  width: max-content;
  height: 4rem;
  border-radius: 14px;
  display: flex;
  gap: 0.5rem;
  color: var(--white);
  align-items: center;
  padding: 1rem;
  border: 3px solid var(--blue);
}

.PlayerLobbyCard .ProfilePicture {
  box-shadow: 0 0 0 2px var(--white);
  scale: 0.8;
}



.PlayerLobbyCard h6 {
  font-weight: 400;
  font-size: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}


.PlayerCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: var(--gradientBlue);
  cursor: pointer;
}

.PlayerCard .card-wrapper {
  width: 18vh !important;
  aspect-ratio: 182/270 !important;
  display: flex;
  flex-direction: column;
  perspective: 1000px
}

.PlayerCard .disabled,
.PlayerCard .dead {
  cursor: default;
}

.PlayerCard .ProfilePicture {
  scale: 0.6
}

.PlayerCard .user-info {
  margin-top: 0.5vh;
  color: var(--white);
  border-radius: 15px;
  width: 18vh;
  gap: 3px;
  padding: 0.4rem;
  background-color: var(--darkGrey);
  position: relative;
}


.PlayerCard .user-info.me {
  background-color: var(--white);
  color: var(--darkGrey);
}

.PlayerCard .user-info h6 {
  font-size: clamp(11px, 0.8vw, 1.3vw);
}

.PlayerCard .card-wrapper .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0.6rem;
  gap: 2vh;
  z-index: 1;
}

.PlayerCard .votes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
  width: 100%;
  height: 100%;
}

.PlayerCard .votes .cast,
.PlayerCard .votes .locked {
  display: flex;
  align-items: center;
  height: 45%;
  width: 100%;
  flex-flow: row wrap;
  justify-content: center;
  position: relative;
}

.PlayerCard .votes .vote-wrapper {
  position: relative;
  width: min-content;
}

.PlayerCard .votes .locked .icon-wrapper {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  border-radius: 100%;
  pointer-events: none;
}


.PlayerCard .votes .locked .lock-icon {
  color: white;
  font-size: .8rem;
  user-select: none;
}

.PlayerCard .ProfilePicture.vote {
  height: 1.5vh;
  scale: 2;
  box-shadow: 0 0 0 1px var(--white);
}

.PlayerCard .locked .ProfilePicture.vote {
  box-shadow: 0 0 0 1px rgb(83, 77, 77);
  ;
}

.PlayerCard .ProfilePicture.vote .inner-border {
  height: 100%;
}


.PlayerCard .tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 2rem;
  word-break: break-all;
  height: auto;
  background-color: var(--darkGrey);
  color: var(--white);
  text-align: center;
  font-size: .2rem;
  padding: .2rem;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  width: 2rem;
  top: 150%;
  left: 50%;
  margin-left: -1rem;
  /* Use half of the width*/
}

/*arrow tip*/
.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -2px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent transparent var(--darkGrey) transparent;
}

/* Card Back Handling */

.PlayerCard .card {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 15px;
  color: var(--white);
  cursor: pointer;

  transition: transform 0.8s;
  transform-style: preserve-3d;
  z-index: 0;
}

.PlayerCard.reveal .card-wrapper .card {
  transform: rotateY(180deg);
}

.PlayerCard .card .bg {
  position: absolute;
  z-index: 0;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.PlayerCard .card .front.bg {
  transform: rotateY(180deg);
}

.PlayerCard .card .back.bg {
  background-image: url("/images/cards/card-back.png");
}

/* Villager images */
.PlayerCard .card .front.bg.villager.alive {
  background-image: url("/images/cards/villager-card-classic.png");
}

.PlayerCard .card .front.bg.villager.dead {
  background-image: url("/images/cards/villager-card-death-.png");
}

.PlayerCard.big .card .front.bg.villager.alive {
  background-image: url("public//images/cards/villager-card-classic@2x.png");
}

.PlayerCard.big .card .front.bg.villager.dead {
  background-image: url("/images/cards/villager-card-death-2x.png");
}

/* Little Girl images */
.PlayerCard .card .front.bg.girl.alive {
  background-image: url("/images/cards/girl-card-classic.png");
}

.PlayerCard .card .front.bg.girl.dead {
  background-image: url("/images/cards/girl-card-dead.png");
}

/* Priest images */
.PlayerCard .card .front.bg.priest.alive {
  background-image: url("/images/cards/priest-card-classic.png");
}

.PlayerCard .card .front.bg.priest.dead {
  background-image: url("/images/cards/priest-card-dead.png");
}

/* Witch images */
.PlayerCard .card .front.bg.witch.alive {
  background-image: url("/images/cards/witch-card-classic.png");
}

.PlayerCard .card .front.bg.witch.dead {
  background-image: url("/images/cards/witch-card-death-.png");
}

.PlayerCard.big .card .front.bg.witch.alive {
  background-image: url("/images/cards/witch-card-classic@2x.png");
}

.PlayerCard.big .card .front.bg.witch.dead {
  background-image: url("/images/cards/witch-card-death-2x.png");
}

@media (max-width:750px) {
  .PlayerLobbyCard h6 {
    font-size: 0.8rem;
  }

  .PlayerLobbyCard {
    padding: 0.7rem;
  }
}

@media (max-width:750px) {
  .PlayerCard .card .ProfilePicture {
    scale: 0.9;
  }

  .PlayerCard .card h6 {
    font-size: 0.8rem;
  }
}