.PlayerLobbyCard {
  width: max-content;
  height: 4rem;
  border-radius: 14px;
  display: flex;
  gap: 1rem;
  color: var(--white);
  align-items: center;
  padding: 1rem;
  border: 3px solid var(--blue);
}

.PlayerLobbyCard .ProfilePicture {
  outline: 2px solid var(--white);
  scale: 0.8;
}

.PlayerLobbyCard h6 {
  font-weight: 400;
  font-size: 1rem;
}

.PlayerCard {
  position: relative;
  width: 15vh;
  aspect-ratio: 182/270;
  border-radius: 15px;
  color: var(--white);
  cursor: pointer;
}

.PlayerCard.disabled,
.PlayerCard.dead {
  cursor: default;
}


.PlayerCard .card {
  position: absolute;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.PlayerCard .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0.6rem;
}

.PlayerCard .content .user-info {
  display: flex;
  margin-top: 0.5vh;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
}

.PlayerCard .content .votes {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  margin-top: 5vh;
}


.PlayerCard .content .votes .cast,
.PlayerCard .content .votes .locked {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.PlayerCard .ProfilePicture.vote {
  height: 1.5vh;
  scale: 2;
  outline: 1px solid white;
}

.PlayerCard .ProfilePicture.vote .inner-border {
  height: 100%;
}



.PlayerCard.alive .card.back {
  background-image: url("/images/cards/card-back.png");
}

.PlayerCard.alive .card.front.villager {
  background-image: url("/images/cards/villager-card-classic.png");
}

.PlayerCard.dead .card.front.villager.dead {
  background-image: url("/images/cards/villager-card-death-.png");
}

.PlayerCard.alive .card.front.witch {
  background-image: url("/images/cards/witch-card-classic.png");
}

.PlayerCard.dead .card.front.witch {
  background-image: url("/images/cards/witch-card-death-.png");
}

.PlayerCard .card.front.villager.big {
  background-image: url("public//images/cards/villager-card-classic@2x.png");
}

.PlayerCard.dead .card.front.villager.big {
  background-image: url("/images/cards/villager-card-death-2x.png");
}

.PlayerCard .card.front.witch.big {
  background-image: url("/images/cards/witch-card-classic@2x.png");
}

.PlayerCard.dead .card.front.witch.big {
  background-image: url("/images/cards/witch-card-death-2x.png");
}

@media (max-width:750px) {
  .PlayerLobbyCard h6 {
    font-size: 0.8rem;
  }

  .PlayerLobbyCard {
    padding: 0.7rem;
  }
}

@media (max-width:750px) {
  .PlayerCard .ProfilePicture {
    scale: 0.9;
  }

  .PlayerCard .ProfilePicture.vote {}

  .GameRoom .PlayerCard h6 {
    font-size: 0.8rem;
  }
}