.Lobbies {
  display: flex;
  justify-content: center;
  flex-direction: column;

  align-items: center;
}

.Lobbies .actionBar {
  display: flex;
  flex-flow: row wrap;
  padding: 0.5rem 1rem;
  align-items: center;
}

.Lobbies .filters .Button,
.Lobbies .actionBar .Button {
  margin: 1rem 1rem;
  width: auto;
}

.Lobbies .filters .Input input {
  margin: unset;
}

.Lobbies .filters {
  display: flex;
  flex-flow: row wrap;
  padding: 0.5rem 1rem;
  align-items: center;
}

.Lobbies .filters .Input label {
  margin-right: 2ch;
}

.Lobbies ul {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem;
  justify-content: center;
}

.Lobbies li {
  margin: 1rem;
}

.Lobbies h2 {
  color: white
}