.Welcome {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
}


.Welcome .window-center-grey {
    gap: 3rem;
    max-width: max-content;
    padding: 3rem;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.Welcome .rooms-list {
    position: relative;
}

.Welcome .rooms-list li {
    position: relative;
    margin-bottom: 2rem;
}

.Welcome .rooms-list::before {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 20%, #1c1e26 99%);
    content: "\00a0";
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 100;
}



@media (max-width: 750px) {
    .rooms-list {
        display: none;
    }
}