.Welcome {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
}

.Welcome .left {
    background-color: var(--grey);
    border-radius: var(--windowRadius);
    height: 80vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    border: 1px solid var(--borderGrey);
}

.Welcome .left img {
    width: 30%;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.Welcome .right {
    position: relative;
}

.Welcome .right::before {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 20%, #1c1e26 99%);
    content: "\00a0";
    height: 100%;
    position: absolute;
    width: 100%;
}