.GameRoomForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.GameRoomForm .Input input {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 20vmax;

}

.GameRoomForm .Input label,
.GameRoomForm .Toggle>label {
  font-size: 0.8rem;
}

.GameRoomForm .Input label,
.GameRoomForm .Toggle {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin: 0;
}

.GameRoomForm .Toggle .input-toggle div {
  all: unset;
}

.GameRoomForm .Toggle .toggle {
  margin: 0;
}