.WaitingRoom .owner-options {
    background-color: blueviolet;
    color: white;
    text-align: center;
    margin: 3rem 0;
}

.WaitingRoom .game-pin {
    color: var(--white);
    text-transform: uppercase;
    background-color: var(--blue);
    width: 100%;
    border-radius: 12px;
    height: 5rem;
    text-align: center;
    font-size: 3rem;
    margin-top: 2rem;
}


.WaitingRoom .waiting-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}