.WaitingRoom .owner-options {
    background-color: var(--grey);
    color: white;
    border-radius: 12px;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    margin: 0;
    padding: 2rem;
}

dialog::before {
    opacity: 0.5;
    background-color: red;
    z-index: 20;

}

.WaitingRoom .GameRoomForm .Button,
.WaitingRoom .owner-options .Button {
    margin-top: 2rem;
    width: 20vmax;
}

.WaitingRoom .game-pin {
    color: var(--white);
    text-transform: uppercase;
    font-size: 2rem;
}


.WaitingRoom .waiting-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.WaitingRoom .playerlist {
    display: flex;
    flex-wrap: wrap;
    gap: 1.3rem;
}