.WaitingRoom .playerlist {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.WaitingRoom .owner-options {
    background-color: blueviolet;
    color: white;
    text-align: center;
    margin: 3rem 0;
}

.WaitingRoom .PlayerCard {
    width: max-content;
    height: 4rem;
    border-radius: 14px;
    display: flex;
    gap: 1rem;
    color: var(--white);
    align-items: center;
    padding: 1rem;
    border: 3px solid var(--blue);
}

.WaitingRoom .PlayerCard .user-image {
    height: 5vh;
    aspect-ratio: 1;
}

.WaitingRoom .PlayerCard .user-image img {
    border-radius: 50%;
    height: 100%;
    object-fit: cover;
}

.WaitingRoom .game-pin {
    text-transform: uppercase;
    background-color: lightgray;
    width: 100%;
    height: 5rem;
    text-align: center;
    font-size: 3rem;
    margin-top: 2rem;
}

.WaitingRoom h4 {
    font-weight: 300;
}