.Storytime {
  width: 40%;
  color: var(--blue);
  padding: 0.8rem;
  margin-bottom: 1rem;
  background-color: var(--white);
  border-radius: 12px;
  outline: 2px solid var(--blue);
  display: flex;
  align-self: end;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Storytime .story {
  font-size: clamp(0.6rem, 1vmax, 0.8rem);
  display: flex;
  align-items: center;
  font-family: "Acme";
  text-transform: uppercase;
}

.Storytime .story span {
  width: 10%;
}

.Storytime .story span img {
  width: 100%;
}

@media(max-width:950px) {
  .Storytime {
    width: 100%;
  }
}