.FileSelect {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 1rem;
}

.FileSelect .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed var(--white);
  height: 10vmin;
  width: 100%;
  position: relative;
}

.FileSelect .absolute {
  position: absolute;
}

.FileSelect .attach-file {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.FileSelect .input-select {
  opacity: 0;
  width: 100%;
  height: 100%;
}