.FileSelect {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 1rem;
  width: 35vmax;
}

.FileSelect .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed var(--white);
  height: clamp(75px, 10vmin, 100px);
  width: 100%;
  position: relative;
}

.FileSelect .absolute {
  position: absolute;
  font-size: 2vmin;
}

.FileSelect .attach-file {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.FileSelect .input-select {
  opacity: 0;
  width: 100%;
  height: 100%;
}

.FileSelect h3 {
  font-size: 4vmin;
}