.visib-toggle {
  background-color: var(--darkGrey);
  padding: 14px 5px;
  border-radius: 30px;
  display: inline-block;
  margin-left: 1rem;
  width: max-content;
}

.visib-toggle [name="visib"] {
  display: none
}

.visib-toggle input[type="radio"]+label {
  background-color: var(--darkGrey);
  color: var(--white);
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  user-select: none;
}

.visib-toggle input[type="radio"]:checked+label {
  background-color: var(--blue);
  ;
}

.input-toggle div {
  margin-left: 1rem;
}