#img-signup {
    width: 8vmax;
}

.SignupForm .Button {
    margin-top: 1rem;
}

.image-select {
    color: var(--white);
}

.image-select h4 {
    font-weight: 300;
    font-size: 0.8rem;
    text-align: center;

}

.image-select h3 {
    font-weight: 500;
    font-size: 1rem;
    text-align: center;

}

.random-avatars {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

.random-avatars .avatar {
    width: 8vmax;
    text-align: center;
}

/*looks horrible but it works*/
.input-hidden {
    position: absolute;
    width: 7vmax;
    height: 7vmax;
    opacity: 0;
}

input[type=radio]:checked+label>img {
    background-color: var(--white);
    border-radius: 50%;
    width: 7.5vmax;

}

.avatar img {
    width: 9vmax;
}