.error-message {
  color: var(--errorsRed);
  align-self: center;
  font-size: .8rem;
}

/*classes for non auth screens*/
.flex-center-section {
  height: 100vh;
  max-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.window-center-grey {
  border-radius: var(--windowRadius);
  width: 40vmax;
  max-height: 95vh;
  min-height: 80vh;
  background-color: var(--grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  border: 1px solid var(--borderGrey);
  padding: 1rem;
}

.window-center-grey img {
  width: 35%;
}


/*classes for auth screens*/

.flex-center-section.auth {
  height: 90vh;
}

.window-center-grey.auth {
  gap: 3rem;
}

/*background for waiting room and home with transparency*/
.flex-center-section.auth::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .2;
  z-index: -1;
  background-image: url(/public/images/village.jpeg);
  background-repeat: no-repeat;
  background-size: 100%;
  >>>>>>>1e725b2 (style home page)
}